* {
    margin: 0;
    padding: 0;
}

main {
    background: linear-gradient(90deg, #d1f4ff 0%,  #fff 100%);
}

a {
    text-decoration: none;
}

.hero {
    background: linear-gradient(90deg, #94ccdf 0%, #d1f4ff 100%);
    width: 100vw;
    height: 900px;
}

nav {
    display: flex;
}

.logo {
    font-size: 50px;
    margin-left: 100px;
    margin-top: 20px;
    color: #fff;
}

.logo {
    color: #fff;
}

.logo span {
    color: #143D4B;
}

.nav-bar {
    margin-left: 50rem;
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.nav-bar li a {
    font-size: 16px;
    margin-right: 30px;
    color: #525252;
    font-weight: 550;
}

.nav-bar li a:hover {
    color: #fff;
}

#current-nav-link {
    color: #143D4B;
}

#current-nav-link:hover {
    color: #fff;
}

.line {
    width: 100%; 
    height: 1px; 
    background-color: #fff;
    margin-top: 10px;
}

h1 {
    font-size: 76px;
    color: #143D4B;
    margin-top: 50px;
    margin-left: 100px;
}

.hero-info {
    display: flex;
}

.hero-info p {
    margin-top: 100px;
    margin-left: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}

.order-btn {
    background-color: #143D4B;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px 15px 30px;
    margin-left: 325px;
    border-radius: 50px;
}

.order-btn:hover {
    color: #525252;
}

.order-img {
    width: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.girls {
    display: flex;
    height: 497px;
}

.girl {
    margin-top: 150px;
    margin-left: 100px;
    padding: 10px 10px 175px 10px;
    border: 3px solid #fff;
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
}

.girl p {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: #143D4B;
}

.girl-img {
    border-radius: 200px; 
    width: 200px;
}

.second-girl {
    height: 550px;
    margin-top: -55px;
}

.cosmetic-card {
    display: flex;
}

.cosmetic-card img {
    width: 125px;
    border-radius: 500px;
    box-shadow: 5px 5px 10px#c1c1c1;
}

.cosmetic-card img:hover {
    opacity: 75%;
}

.cosmetic-card p {
    font-size: 22px;
    margin-top: 30px;
    margin-left: 25px;
}

.cosmetic-card p a {
    color: #143D4B;
}

.cosmetic-card p a:hover {
    color: #fff;
}

.cosmetic-card p span {
    color: black;
    font-size: 18px;
}

.best-product {
    padding: 100px;
}

h2 {
    color: #143D4B;
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.product-cards {
    display: flex;
}

.product-card {
    display: flex;
    border: 3px solid #c1c1c1;
    width: 600px;
    border-radius: 20px 100px 100px 20px;
    box-shadow: 5px 5px 10px#c1c1c1;
}

.product-info {
    padding: 40px 20px 20px 20px;
}

.product-price {
    font-size: 20px;
    color: #143D4B;
}

.product-title {
    font-size: 24px;
    margin-top: 20px;
}

.product-link {
    color: #143D4B;
    text-decoration: underline;
}

.beauty-future {
    padding: 100px 200px 100px 200px;
}

.beauty-future-container {
    display: flex;
}

.info-card {
    border: 3px solid#fff;
    width: 400px;
    padding: 30px 30px 20px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px#c1c1c1;
}

.info-number {
    font-size: 24px;
}

.info-title {
    font-size: 20px;
}

.info-card p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-card:hover {
    background-color: #33add5;
    color: #fff;
}

.beauty-future-info {
    margin-left: 100px;
}

.beauty-future-img {
    height: 550px;
    width: 450px;
    margin-top: 50px;
    border-radius: 350px;
    transform: rotate(45deg);
    margin-left: 50px;
    box-shadow: 5px 5px 10px#c1c1c1;
}

.beauty-future-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video {
    background-color: #143D4B;
    height: 500px;
    display: flex;
}

.vid {
    object-fit: cover;
    height: 500px;
    width: 700px;
}

.video-container {
    padding: 100px 100px 50px 100px;
}

h3 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 50px;
}

.video-container p {
    color: #fff;
    margin-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-btn-light {
    color: #143D4B;
    background-color: #fff;
    font-size: 24px;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
}

.order-btn-light:hover {
    color: #525252;
}

.required {
    padding: 100px 200px 100px 200px;
    display: flex;
}

.required-left a {
    font-size: 24px;
    color: #143D4B;
}

.required-left a:hover {
    color: #c1c1c1;
}

.required-left p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gray-line {
    background-color: #c1c1c1;
    height: 4px;
    width: 550px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cosmetics-img {
    margin-left: 100px;
    border-radius: 20px 200px 200px 20px;
    box-shadow: 5px 5px 10px#c1c1c1;
}

.clients {
    padding: 100px 200px 100px 200px;
    display: flex;
    text-align: center;
}

.clients-left {
    display: flex;
}

.client-card {
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding-top: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px#c1c1c1;
}

.client-card:hover {
    background-color: #33add5;
    color: #fff;
}

.client-avatar {
    width: 100px;
    border-radius: 50px;
}

.star {
    width: 16px;
}

.client-name {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: -15px;
}

.customers {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.client-card p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clients-right {
    margin-left: 50px;
    margin-top: 100px;
}

.clients-right h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: left;
}

.clients-right p {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subscribe {
    padding: 50px 100px 50px 100px;
    text-align: center;
    background-color: #143D4B;
}

.subscribe-inside {
    padding: 50px 100px 50px 100px;
    text-align: center;
    background-color: #94ccdf;
    border-radius: 25px;
    text-align: center;
}

.subscribe-inside h2 {
    margin-bottom: 50px;
}

.email-input {
    display: flex;
    justify-content: center;
}

#email {
    width: 300px;
    height: 35px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    padding-left: 15px;
}

.email-btn {
    border: none;
    outline: none;
    border-radius: 0 10px 10px 0;
    color: #fff;
    background-color: #143D4B;
    padding: 0 20px 0 20px;
}

.email-btn:hover {
    cursor: pointer;
    color: #c1c1c1;
}

footer {
    background-color: black;
    color: #c1c1c1;
}

.footer-info {
    padding: 100px;
    display: flex;
}


.quick-links a {
    color: #c1c1c1;
}

.quick-links a:hover {
    color: #fff;
}

.li {
    list-style: none;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.li-main {
    font-size: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.contacts,
.media {
    margin-left: 300px;
}

.media img {
    margin-left: 5px;
}

.media img:hover {
    opacity: 50%;
}

.copyrights {
    padding: 20px;
    display: flex;
    justify-content: center;
}